.about {
  display: flex;
  flex-direction: row;
  background-color: #fff;

  padding: 50px 0px 50px 0px;
}
.about img {
  height: 400px;
  width: 500px;
}
.about img:hover {
  background-color: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
  cursor: pointer;
}
.about-text {
  display: flex;
  flex-direction: column;
  width: 550px;
  padding: 60px 0px 0px 100px;
}
.about-text h2 {
  padding-bottom: 50px;
}

.button-about {
  color: #e6739f;
  padding: 5px 5px;
  background-color: transparent;
  border: 1px solid #f2bed1;

  border-radius: 5px;

  transition: background-color 1s;
}

.button-about:hover {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );

  color: white;
}
