.client-opinion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 550px;
  padding-top: 50px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(245, 181, 219, 0.8)),
    url(images/About.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  
}
.opinion-title h3 {
  font-weight: bold;
  color: #CC0E74;
}
.opinions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.opinion1,
.opinion2,
.opinion3 p {
  font-size: 15px;
  width: 300px;
  color: black;
}

.opinion3 p span {
  color: #CC0E74;
}
.opinion1 p span {
  color: #CC0E74;
}
.opinion2 p span {
  color: #CC0E74;
}
